@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.timer-button {
    border: '1px solid #ccc';
    background-color: '#fff';
    font-size: '2em';
    padding: 15;
    margin: 5;
    width: 200;
}

.timer-output {
  position: relative;
  float: right;
  margin-right: 200px;
  padding-top: 150px;
}

